main/main
pluginmanager/checkpoint/
*.txt
*.prof
*.gif
main/checkpoint/*
*.LOG
*.LOG.*
*.test
*.swp
.idea/
plugin_logger.xml
logtail_plugin.LOG*
plugins/input/input_telegraf/local_test/telegraf.conf
license_coverage.txt
e2e-test