# Copyright 2021 iLogtail Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: E2E Test

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'example_config/**'
      - 'docker/**'
      - 'k8s_template/**'
      - 'changes/**'
      - 'licenses/**'
      - 'CHANGELOG.md'
  push:
    branches:
      - main
      - 1.*
jobs:
  CI:
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 60
    strategy:
      matrix:
        go-version: [ 1.19.10 ]
        runner: [ arc-runner-set-ilogtail ]
      fail-fast: true
    steps:
      # Clean up space to prevent action from running out of disk space.
      - name: clean
        if: matrix.runner == 'arc-runner-set-ilogtail'
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo -E apt-get -qq autoremove --purge
          sudo -E apt-get -qq clean
          sudo -E apt-get update
          sudo -E apt-get install -y libsystemd-dev build-essential git curl bc

      - name: Check disk space
        run: |
          df -hT $PWD

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Update Docker-compose to v2
        run: |
          sudo curl -SL https://github.com/docker/compose/releases/download/v2.7.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: System environment
        run: |
          uname -r
          docker --version
          go version

      - name: E2E Behavior Test
        env:
          BUILD_LOGTAIL_UT: OFF
          WITHOUTGDB: ON
        run: make e2e

  result:
    runs-on: arc-runner-set-ilogtail
    timeout-minutes: 60
    needs: [ CI ]
    steps:
      - name: Build Result
        run: echo "Just to make the GitHub merge button green"
