# Copyright 2021 iLogtail Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Static Check

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'example_config/**'
      - 'docker/**'
      - 'k8s_template/**'
      - 'changes/**'
      - 'licenses/**'
      - 'CHANGELOG.md'
  push:
    branches:
      - main
      - 1.*
jobs:
  CI:
    env:
      RUNNER_ALLOW_RUNASROOT: 1
    runs-on: ${{ matrix.runner }}
    container: 
      image: sls-opensource-registry.cn-shanghai.cr.aliyuncs.com/ilogtail-community-edition/ilogtail-build-linux
    timeout-minutes: 60
    strategy:
      matrix:
        runner: [ self-hosted ]
      fail-fast: true
    steps:
      - name: Check disk space
        run: |
          df -hT $PWD

      - name: Check out code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Copy Lib
        run: sudo cp ./pkg/logtail/libPluginAdapter.so /usr/lib/

      - name: Check License Header
        run: make check-license

      - name: Check Dependencies Licences
        run: make check-dependency-licenses

      - name: Lint
        run: make lint

      - name: UnitTest
        run: make unittest_plugin

      - name: UnitTest PluginManager
        run: make unittest_pluginmanager


  result:
    runs-on: self-hosted
    timeout-minutes: 60
    needs: [ CI ]
    steps:
      - name: Build Result
        run: echo "Just to make the GitHub merge button green"
